html * {
    margin: 0; /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}

#logo {
    text-align: center;
    padding-top: 5px;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #006dba;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}

select {
    padding: 2px 2px 2px 0;
}

textarea {
    width: 250px;
    height: 150px;
    vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}

.menuButton a {
    color: #333;
    padding: 4px 6px;
}

.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}

div.errors ul {
    list-style: none;
    padding: 0;
}

div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}

td.errors input {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%
}

tr {
    border: 0;
}

td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}

th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}

th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}

th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}

th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}

.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}

.list th, .list td {
    border-left: 1px solid #ddd;
    padding-left: 1.5em;
}

.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}

.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}

.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}

.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}

.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}

.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

/* --------------------------------------*/
/* PAGE container                        */
/* --------------------------------------*/
/* Contains page contents e.g header,navbar, content, footer */
#page {
    width: 90%;
    margin: 0px auto;
    padding: 4px 0;
    text-align: left;
}

/* --------------------------------------*/
/* TOPBAR                                */
/* --------------------------------------*/
#topbar {
    text-align: left;
    padding: 5px 0;
    border-top: 1px solid #333;
    background: #aaaaaa;
    height: 15px;
}

#topbar #welcome {
    float: left;
    text-align: left;
    font-size: 12px;
    padding: 0px 0px 0px 10px;
    color: #ffffff;
}

#topbar #menu {
    float: right;
    text-align: right;
    font-size: 12px;
    color: #ffffff;
}

#topbar #menu a {
    color: #ffffff;
    padding: 0px 10px 0px 0px;
}

/* --------------------------------------*/
/* HEADER                                */
/* --------------------------------------*/
#header {
    background: #227ce8;
    height: 5px;
    margin: 0px auto;
    border-top: solid 2px #000000;
}

#header h1 {
    font-family: Arial, sans-serif;
    color: white;
    padding: 20px 0 0 6px;
    font-size: 1.6em;
}

#main {
    min-width: 1200px;
}

/* --------------------------------------*/
/* CONTENT                               */
/* --------------------------------------*/
#content {
    float: left;
    width: 75%;
    color: #000;
    margin: 0 0.5em 0 0;
    padding: 0px 10px 5px 0px;
}

/* --------------------------------------*/
/* NAVBAR                                */
/* --------------------------------------*/
#navbar {
    float: left;
    width: 210px;
    color: #ff0000;
    padding: 0px 5px 0px 5px;
    margin: 0 0 0 0;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

/*2.12.08 IE correction to drop sidbarBox*/
html>body #navbar .navbarBox {

    width: 200px;
    color: #0000ff;
    background: #2175bc;
    margin: 0px 5px 5px 5px; /*ensure there's a gap between text in navbar and start of navbar*/
}

/*Header for boxes in navbar menu*/
#navbar .navbarBox h1 {
    background: #227ce8;
    color: #ffffff;
    font-weight: normal;
    font-size: 14px;
}

/* --------------------------------------*/
/* FOOTER                                */
/* --------------------------------------*/
#footer {
    border: solid 1px #000000;
    height: 20px;
    clear: both;
    padding: 5px;
    margin: 5px 5px 5px 5px;
    background: #ababab url(../images/footer.png) repeat;
}

#footer .tandc {
    float: right;
    color: #0000ff;
}

#footer .copyright {
    float: left;
    color: #0000ff;
}

/*----------------------------------------------------------*/
/*  Improved vertical menu for navbar: see http://css.maxdesign.com.au/listamatic/vertical10.htm
/*----------------------------------------------------------*/

h1.panelHeader {
    font-weight: bold;
    text-align: center;
}

/*need html>body hack otw menu boxes, e.g. navbarbx all merge together*/
html>body .navcontainer1 {
    width: 100%;
    border-right: 1px solid #000;
    font-family: Arial, sans-serif;
    background-color: #227ee8;
    color: #333;
}

.navcontainer1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 2px solid #000000;
}

.navcontainer1 li {
    border-bottom: 1px solid #90bade;
    margin: 0;
}

.navcontainer1 li a {
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #1958b7;
    border-right: 10px solid #508fc4;
    background-color: #2175bc;
    color: #ffffff;
    text-decoration: none;
}

html>body .navcontainer1 li a {
    width: auto;
}

.navcontainer1 li a:hover {
    border-left: 10px solid #1c64d1;
    border-right: 10px solid #5ba3e0;
    background-color: #2586d7;
    color: #fff;
}

/* Main navaction */
.navaction li a {
    background-color: #aaa
}

/* Background-color */
.navaction li.navaction_active a {
    background-color: #555;
}

/* Background-color of active item */
.navaction li.navaction_active a:hover {
    background-color: #555;
}

/* Background-color of hovered active item */
.navaction li a:hover {
    background-color: #999;
}

/* Background-color of hovered item */
.navaction li a {
    color: #fff;
}

/* Text color */
.navaction li a:hover {
    color: #fff;
}

/* Text color on hovering */
.navaction li {
    border: 1px solid #888;
}

/* Border color */
.navaction li.navaction_first {
    border-left-color: #888;
}

/* Border color. Typically same as above */
.navaction li {
    border-left-color: #bbb;
}

/* Highlight border-color */
.navaction li.navaction_active {
    border-left-color: #555;
}

/* Highlight border-color of active item */

/* Sub navaction */
.subnavaction li {
    background-color: #555;
}

/* Background-color */
.subnavaction li a {
    border-color: #555;
}

/* Should be set to the same as the above */
.subnavaction li a {
    color: #fff;
}

/* Text color */
.subnavaction li a:hover {
    border-color: #fff;
}

/* Markings color of hovered item */
.subnavaction li a:hover {
    color: #e0e0e0;
}

/* Text color of hovered item */
.subnavaction li.subnavaction_active a {
    color: #e0e0e0;
}

/* Text color of active item */
.subnavaction li.subnavaction_active a {
    border-color: #e0e0e0;
}

/* Markings color of active item */

.navaction {
    list-style-type: none;
    clear: both;
    margin: 1em 0;
    font-size: 12px;
    overflow: hidden; /* Clearing floats */
}

.navaction li {
    float: left; /* border: 1px solid #888; */
/* border-left-color: #bbb; */
}

.navaction li.navaction_first {
/* border-left-color: #888; */
}

.navaction li.navaction_active {
/* border-left-color: #555; */
}

.navaction li a {
    padding: 0.5em 1em;
    display: block;
    text-decoration: none; /* background-color: #aaa; */
/* color: #fff; */
}

.navaction li a:hover {
/* background-color: #999; */
}

.navaction li.navaction_active a {
/* background-color: #555; */
    color: #fff;
    cursor: default;
}

.subnavaction {
    list-style-type: none;
    clear: both;
    margin: 1em 0;
    font-size: 12px;
    overflow: auto; /* Clearing floats */
}

.subnavaction li {
    float: left; /* background-color: #555; */
    padding: 0.35em 1.5em;
    border-width: 1px 0;
}

.subnavaction li a {
    display: block; /* color: #fff; */
    padding: 2px 0; /* border-color: #555; */
    border-style: solid;
    border-width: 1px 0;
    text-decoration: none;
}

.subnavaction li a:hover {
/* border-color: #fff; */
    border-width: 1px 0;
}

.subnavaction li.subnavaction_active a {
/* color: #e0e0e0; */
    cursor: default; /* border-color: #e0e0e0; */
}
