<plugin name='symmetricds' version='0.1' grailsVersion='1.2-M3 &gt; *'>
  <author>Chris Henson</author>
  <authorEmail>chenson42@sourceforge.users.net</authorEmail>
  <title>Plugin for SymmetricDS data synchronization software</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/symmetricds</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='mavenLocal' />
    </resolvers>
    <dependency group='org.hibernate' name='hibernate-core' version='3.3.1.GA' conf='compile' transitive='true'>
      <excludes group='*' name='ehcache' />
      <excludes group='*' name='xml-apis' />
      <excludes group='*' name='commons-logging' />
    </dependency>
    <dependency group='org.hibernate' name='hibernate-ehcache' version='3.3.1.GA' conf='runtime' transitive='true'>
      <excludes group='*' name='ehcache' />
    </dependency>
    <dependency group='dom4j' name='dom4j' version='1.6.1' conf='runtime' transitive='true'>
      <excludes group='*' name='xml-apis' />
    </dependency>
    <dependency group='org.apache.derby' name='derbytools' version='10.4.2.0' conf='runtime' transitive='true' />
    <dependency group='mx4j' name='mx4j-tools' version='3.0.1' conf='runtime' transitive='true' />
    <dependency group='com.h2database' name='h2' version='1.2.122' conf='runtime' transitive='true' />
    <dependency group='org.hibernate' name='hibernate-commons-annotations' version='3.3.0.ga' conf='compile' transitive='true'>
      <excludes group='*' name='hibernate' />
    </dependency>
    <dependency group='antlr' name='antlr' version='2.7.6' conf='runtime' transitive='true' />
    <dependency group='javassist' name='javassist' version='3.4.GA' conf='runtime' transitive='true' />
    <dependency group='org.jdom' name='jdom' version='1.1' conf='runtime' transitive='true' />
    <dependency group='rome' name='rome' version='0.9' conf='runtime' transitive='true' />
    <dependency group='org.hibernate' name='hibernate-annotations' version='3.4.0.GA' conf='compile' transitive='true' />
    <dependency group='org.apache.derby' name='derby' version='10.4.2.0' conf='runtime' transitive='true' />
    <dependency group='org.beanshell' name='bsh' version='2.0b4' conf='runtime' transitive='true' />
    <dependency group='org.apache.ddlutils' name='ddlutils' version='1.0' conf='runtime' transitive='true' />
    <dependency group='org.jumpmind.symmetric' name='symmetric' version='2.0.0-SNAPSHOT' conf='runtime' transitive='true' />
  </dependencies>
  <behavior />
</plugin>