<plugin name='symmetricds' version='0.1' grailsVersion='1.2-M3 &gt; *'>
  <author>Chris Henson</author>
  <authorEmail>chenson42@sourceforge.users.net</authorEmail>
  <title>SymmetricDS</title>
  <description>\
Plugin that adds SymmetricDS synchronization capability to a Grails application.
</description>
  <documentation>http://grails.org/plugin/symmetricds</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>SymmetricConfig</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='mavenLocal' />
      <resolver type='mavenCentral' />
      <resolver type='mavenRepo' root='http://snapshots.repository.codehaus.org' name='http://snapshots.repository.codehaus.org' m2compatbile='true' />
      <resolver type='mavenRepo' root='http://repository.codehaus.org' name='http://repository.codehaus.org' m2compatbile='true' />
      <resolver type='mavenRepo' root='http://download.java.net/maven/2/' name='http://download.java.net/maven/2/' m2compatbile='true' />
      <resolver type='mavenRepo' root='http://repository.jboss.com/maven2/' name='http://repository.jboss.com/maven2/' m2compatbile='true' />
    </resolvers>
    <dependency group='commons-digester' name='commons-digester' version='1.7' conf='runtime' transitive='false' />
    <dependency group='commons-math' name='commons-math' version='1.1' conf='runtime' transitive='false' />
    <dependency group='org.apache.ddlutils' name='ddlutils' version='1.0' conf='runtime' transitive='false' />
    <dependency group='mx4j' name='mx4j-tools' version='3.0.1' conf='runtime' transitive='false' />
    <dependency group='org.jdom' name='jdom' version='1.1' conf='runtime' transitive='false' />
    <dependency group='org.apache.derby' name='derbytools' version='10.4.2.0' conf='runtime' transitive='false' />
    <dependency group='org.apache.derby' name='derby' version='10.4.2.0' conf='runtime' transitive='false' />
    <dependency group='org.jumpmind.symmetric' name='symmetric' version='2.0.beta.1' conf='runtime' transitive='false' />
    <dependency group='org.beanshell' name='bsh' version='2.0b4' conf='runtime' transitive='false' />
    <dependency group='commons-betwixt' name='commons-betwixt' version='0.8' conf='runtime' transitive='false' />
    <dependency group='rome' name='rome' version='0.9' conf='runtime' transitive='false' />
    <dependency group='com.h2database' name='h2' version='1.2.122' conf='runtime' transitive='false' />
  </dependencies>
  <behavior>
    <method name='getProperty' artefact='Filters' type='SymmetricConfig'>
      <description />
      <argument type='java.lang.String' />
    </method>
    <method name='invokeMethod' artefact='Filters' type='SymmetricConfig'>
      <description />
      <argument type='java.lang.String' />
      <argument type='java.lang.Object' />
    </method>
  </behavior>
</plugin>