<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="SYM" status="warn" packages="org.jumpmind.util">
    <Appenders>
        <SymRollingFile name="ROLLING" fileName="${env:SYM_HOME:-.}/logs/symmetric.log" filePattern="${env:SYM_HOME:-.}/logs/symmetric.log.%i" createOnDemand="true">
            <PatternLayout pattern="%d %p [%X{engineName}] [%c{1}] [%t] %m%ex%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB" />
            </Policies>
            <DefaultRolloverStrategy max="3" fileIndex="min" />
        </SymRollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org" level="WARN" />
        <Logger name="org.jumpmind" level="INFO" />
        <Logger name="com.mangofactory.swagger.filters.AnnotatedParameterFilter" level="ERROR" />
        <Logger name="org.eclipse.jetty.util.ssl.SslContextFactory" level="ERROR" />
        <Logger name="org.jumpmind.symmetric.util.PropertiesFactoryBean" level="ERROR" />
        <Logger name="org.jumpmind.symmetric.service.impl.ParameterService" level="ERROR" />
        <Logger name="org.jumpmind.symmetric.db.SqlScript" level="ERROR" />
        <Logger name="org.springframework" level="ERROR" />
        <Logger name="springfox.documentation" level="WARN" />
        <Logger name="com.vaadin.server.DefaultDeploymentConfiguration" level="ERROR" />
        <Logger name="com.vaadin.event.ConnectorActionManager" level="ERROR" />
        <Logger name="com.vaadin.server.communication" level="FATAL" />
        <Logger name="com.vaadin.flow.server.communication.rpc.AbstractRpcInvocationHandler" level="ERROR" />
        <Logger name="org.atmosphere" level="FATAL" />
        <Logger name="io.confluent.kafka.serializers.KafkaAvroSerializerConfig" level="WARN" />
        <Logger name="org.apache.logging.log4j.jul" level="WARN" />
        <Logger name="org.atmosphere.cpr.AtmosphereFramework" level="ERROR" />
        <Logger name="org.atmosphere.util.IOUtils" level="ERROR" />
        <Logger name="com.vaadin.event.EventRouter" level="ERROR" />
        <Logger name="sun.net.www.protocol.http.HttpURLConnection" level="ERROR" />

        <!-- SQL for all statements
        <Logger name="org.jumpmind.db.sql" level="DEBUG" />
        -->
        <!-- SQL for loading batches
        <Logger name="org.jumpmind.symmetric.io.data.writer.DefaultDatabaseWriter" level="DEBUG" />
        -->
        <!-- Conflict detection and resolver
        <Logger name="org.jumpmind.symmetric.io.data.writer.AbstractDatabaseWriterConflictResolver" level="DEBUG" />
        <Logger name="org.jumpmind.symmetric.io.data.writer.DefaultDatabaseWriterConflictResolver" level="DEBUG" /> 
        -->
        <!-- CSV protocol
        <Logger name="org.jumpmind.symmetric.io.data.writer.ProtocolDataWriter" level="DEBUG"/>
        -->
        <!-- DDL comparison
        <Logger name="org.jumpmind.db.alter" level="DEBUG" />
        <Logger name="org.jumpmind.db.alter.ModelComparator" level="DEBUG" />
        -->
        <!-- JMS publishing
        <Logger name="org.jumpmind.symmetric.integrate" level="DEBUG" />
        -->
        <!-- HTTP headers (also edit logging.properties)
        <Logger name="sun.net.www.protocol.http.HttpURLConnection" level="ALL" />
        -->         
        <!-- File sync
        <Logger name="org.jumpmind.symmetric.service.impl.FileSyncService" level="DEBUG"/>
        <Logger name="org.jumpmind.symmetric.file.FileTriggerFileModifiedListener" level="DEBUG"/>
        -->

        <Root level="INFO">
            <AppenderRef ref="ROLLING" />
        </Root>
    </Loggers>
</Configuration>
