<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to JumpMind Inc under one or more contributor
    license agreements.  See the NOTICE file distributed
    with this work for additional information regarding
    copyright ownership.  JumpMind Inc licenses this file
    to you under the GNU General Public License, version 3.0 (GPLv3)
    (the "License"); you may not use this file except in compliance
    with the License.

    You should have received a copy of the GNU General Public License,
    version 3.0 (GPLv3) along with this library; if not, see
    <http://www.gnu.org/licenses/>.

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<Configuration name="SYM" status="warn" packages="org.jumpmind.util">
    <Appenders>
        <Console name="CONSOLE_ERR" target="SYSTEM_ERR">
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%d %p [%X{engineName}] [%c{1}] [%t] %m%ex%n" />
        </Console>
        <Console name="CONSOLE_OUT" target="SYSTEM_OUT">
            <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT" />
            <PatternLayout pattern="%d %p [%X{engineName}] [%c{1}] [%t] %m%ex%n" />
        </Console>
        <SymRollingFile name="ROLLING" fileName="target/junit.log" filePattern="target/junit.log.%i">
            <PatternLayout pattern="%d %p [%X{engineName}] [%c{1}] [%t] %m%ex%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB" />
            </Policies>
            <DefaultRolloverStrategy max="3" fileIndex="min" />
        </SymRollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org" level="WARN" />
        <Logger name="org.jumpmind" level="INFO" />
        <Logger name="com.mangofactory.swagger.filters.AnnotatedParameterFilter" level="ERROR" />
        <Logger name="org.eclipse.jetty.util.ssl.SslContextFactory" level="ERROR" />
        <Logger name="org.jumpmind.symmetric.util.PropertiesFactoryBean" level="ERROR" />
        <Logger name="org.jumpmind.symmetric.service.impl.ParameterService" level="ERROR" />
        <Logger name="org.jumpmind.symmetric.db.SqlScript" level="ERROR" />
        <Logger name="org.springframework" level="ERROR" />
        <Logger name="springfox.documentation" level="WARN" />
        <Logger name="com.vaadin.server.DefaultDeploymentConfiguration" level="ERROR" />
        <Logger name="com.vaadin.event.ConnectorActionManager" level="ERROR" />
        <Logger name="com.vaadin.server.communication" level="FATAL" />
        <Logger name="com.vaadin.flow.server.communication.rpc.AbstractRpcInvocationHandler" level="ERROR" />
        <Logger name="org.atmosphere" level="FATAL" />
        <Logger name="io.confluent.kafka.serializers.KafkaAvroSerializerConfig" level="WARN" />
        <Logger name="org.atmosphere.cpr.AtmosphereFramework" level="ERROR" />
        <Logger name="org.atmosphere.util.IOUtils" level="ERROR" />
        <Logger name="com.vaadin.event.EventRouter" level="ERROR" />
        <Logger name="sun.net.www.protocol.http.HttpURLConnection" level="ERROR" />

        <!-- SQL for all statements
        <Logger name="org.jumpmind.db.sql" level="DEBUG" />
        -->
        <!-- SQL for loading batches
        <Logger name="org.jumpmind.symmetric.io.data.writer.DefaultDatabaseWriter" level="DEBUG" />
        -->
        <!-- Conflict detection and resolver
        <Logger name="org.jumpmind.symmetric.io.data.writer.AbstractDatabaseWriterConflictResolver" level="DEBUG" />
        <Logger name="org.jumpmind.symmetric.io.data.writer.DefaultDatabaseWriterConflictResolver" level="DEBUG" /> 
        -->
        <!-- CSV protocol
        <Logger name="org.jumpmind.symmetric.io.data.writer.ProtocolDataWriter" level="DEBUG"/>
        -->
        <!-- DDL comparison
        <Logger name="org.jumpmind.db.alter" level="DEBUG" />
        <Logger name="org.jumpmind.db.alter.ModelComparator" level="DEBUG" />
        -->
        <!-- JMS publishing
        <Logger name="org.jumpmind.symmetric.integrate" level="DEBUG" />
        -->
        <!-- HTTP headers (also edit logging.properties)
        <Logger name="sun.net.www.protocol.http.HttpURLConnection" level="ALL" />
        -->         
        <!-- File sync
        <Logger name="org.jumpmind.symmetric.service.impl.FileSyncService" level="DEBUG"/>
        <Logger name="org.jumpmind.symmetric.file.FileTriggerFileModifiedListener" level="DEBUG"/>
        -->

        <Root level="INFO">
            <AppenderRef ref="ROLLING" />
            <AppenderRef ref="CONSOLE_ERR" />
            <AppenderRef ref="CONSOLE_OUT" />
        </Root>
    </Loggers>
</Configuration>
