## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
/*
Copyright 2001-2005 The Apache Software Foundation.

Licensed under the Apache License, Version 2.0 (the "License")
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/*
===============================================================
css stylesheet for the html documentation generated by Torque
will not be overwritten any more once the file exists
===============================================================
*/

/* for the html body */
body { font-family: Verdana; font-size: 10pt; color:black; }
/* for all links */
.link { }

/* for the whole summary table */
.summarytable { margin:0px; padding:0px; border-collapse:collapse; width:100%; }
/* for all td's of the summary table */
.summaryborder { border:1px solid black; }

/* for the headline of the summary table */
.summaryhead { }
/* for all td's of the headline of the summary table */
.summaryheadbackground { background-color:#CCCCCC; }
/* for the different cells of the headline of the summary table */
/* e.g. use display:none for not displaying a certain column  */
.summaryheadtablename { }
.summaryheadjavaname { }
.summaryheaddescription { }

/* for all regular rows of the summary table */
.summaryrow { }
/* for all td's in regular rows of the summary table */
.summarybackground { background-color:white; }
/* for the different cells in the regular rows of the summary table */
/* e.g. use display:none for not displaying a certain column */
.summarytablename { }
.summaryjavaname { }
.summarydescription { }

/* for the hrefs in the summary table */
.summarytablenamelink { }

/* for the headline of the detail tables */
.detailtable { margin:0px; padding:0px; border-collapse:collapse; width:100%; }
/* for all td's of the summary table */
.detailborder { border:1px solid black; }

/* for the headline of the detail tables */
.detailhead { }
/* for all td's in the headline of the detail tables */
.detailheadbackground { background-color:#CCCCCC; }
/* for the different cells in the headline of the detail tables */
/* e.g. use display:none for not displaying a certain column */
.detailheadname { }
.detailheadtype { } 
.detailheadsize { }
.detailheaddefault { }
.detailheadjavaname { }
.detailheadpk { }
.detailheadfk { }
.detailheadnotnull { }
.detailheaddescription { }

/* for all regular rows in the detail tables */
.detailrow { }
/* for all td's in the regular rows in the detail tables */
.detailbackground { background-color:white; }
/* for the different cells in the regular rows of the detail tables */
/* e.g use display:none for not displaying a certain column */
.detailname { }
.detailtype { } 
.detailsize { }
.detaildefault { }
.detailjavaname { }
.detailpk { }
.detailfk { }
.detailnotnull { }
.detaildescription { }

/* for the links to the referenced tables for foreign key column names */
.detailforeignkeylink { color:#44AA44; }
/* for the name cell of primary keys */
.primarykey { background-color:#FFCCCC; }
/* for the name cell of foreign keys */
.foreignkey { }
/* for the name cell of not null columns */
.notnull { }
