<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:flex="http://www.springframework.org/schema/flex"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/flex 
           http://www.springframework.org/schema/flex/spring-flex-1.0.xsd">


	<!-- Bootstraps and exposes the BlazeDS MessageBroker -->
	<bean id="_messageBroker"
		class="org.springframework.flex.core.MessageBrokerFactoryBean">
		<property name="servicesConfigPath"
			value="/WEB-INF/flex/services-config.xml" />
	</bean>

	<flex:message-broker>
		<flex:config-processor ref="configProcessor" />
		<flex:remoting-service
			default-channels="defaultRemoteAmfChannel" default-adapter-id="javaRemoteAdapter"/>
	</flex:message-broker>

	<!-- Maps request paths at /* to the BlazeDS MessageBroker -->
	<bean
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<value>/*=_messageBroker</value>
		</property>
	</bean>

	<!-- Dispatches requests mapped to a MessageBroker -->
	<bean
		class="org.springframework.flex.servlet.MessageBrokerHandlerAdapter" />

	<bean id="configProcessor"
		class="org.jumpmind.symmetric.dashboard.DestinationCountingConfigProcessor" />

	<bean id="batchStatisticsService"
		class="org.jumpmind.symmetric.dashboard.services.BatchStatisticsService" >
	</bean>
		
</beans>