<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c{1}] [%t] %m%n" />
        </layout>
    </appender>
    
    <category name="org.jumpmind">
        <priority value="INFO" />
    </category>
    
    <category name="org.jumpmind.symmetric.fs.track">
        <priority value="DEBUG" />
    </category>
    
    <!-- To print out SQL <category name="org.jumpmind.db.sql"> <priority value="DEBUG" /> </category> -->
    <!-- To print out data writer <category name="org.jumpmind.symmetric.io.data.writer"> <priority value="DEBUG" /> </category> -->
    <category name="org.jumpmind.db.alter">
        <priority value="DEBUG" />
    </category>
    
    <category name="org.jumpmind.symmetric.io.data.writer.DefaultDatabaseWriterConflictResolver">
        <priority value="DEBUG" />
    </category>
    
    <category name="org.jumpmind.symmetric.ClientSymmetricEngine$PropertiesFactoryBean">
        <priority value="ERROR" />
    </category>
    
    <root>
        <priority value="WARN" />
        <appender-ref ref="CONSOLE" />
    </root>
    
</log4j:configuration>