## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.

 <section >
    <title>$table.Name</title>
 <table id="table-def-$table.Name">
    <title>$table.Name</title>
    <tgroup cols="9">
        <colspec colwidth="90px" />
        <colspec colwidth="55px" />
        <colspec colwidth="25px" />
       <colspec colwidth="30px" />
       <colspec colwidth="35px" />
       <colspec colwidth="20px" />
       <colspec colwidth="20px" />
       <colspec colwidth="30px" />
       <colspec colwidth="120px" />
         <thead>
            <row>
                <entry>Name</entry>
                <entry>Type</entry>
                <entry>Size</entry>
	            <entry>Default</entry>
	            <entry>JavaName</entry>
	            <entry>PK</entry>
	            <entry>FK</entry>
	            <entry>not null</entry>
	            <entry>Description</entry>
            </row>
        </thead>
         <tbody>
         #foreach ($col in $table.Columns)
         
           <row>
                <entry>
                 #if ($col.isForeignKey() == true)
				 <link linkend="table-def-$col.RelatedTableName">$col.Name</link>
					#else$col.Name#end
                </entry>
                <entry>$col.Type</entry>
                <entry>#if ($col.printSize() && $col.printSize().length() > 0) $col.printSize() #else - #end
                </entry>

			<entry>#if ($col.DefaultValue) $col.DefaultValue#else - #end</entry>
			<entry>#if ($col.isPrimaryKey()==true)X#else - #end</entry>    
			<entry>#if ($col.isForeignKey()==true)X#else -  #end </entry>
			<entry>#if ($col.isNotNull()==true)X#else -  #end</entry>
			<entry>#if ($col.isNotNull()==true)X#else -  #end</entry>
			<entry>#if ($col.Description) $col.Description#else -  #end</entry>
		</row>
		#end
		</tbody>
	</tgroup>
</table>
</section>
