/* 
    *******************************  HTML ******************************* 
*/
html,body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Sans-Serif, sans-serif;
    color: black;
}

a:link {
    color:#003366;
}

a:visited {
    color:#003366;
}

a:hover {
    color:#660000;
}

.clearie {
    clear: both;line-height: 0px;height: 0px;
}



html,body,p,div,h1,h2,h3,h4,h5,h6,img,ul,ol,li,dl,dt,dd,pre,form,fieldset,textarea,input,select,option
    {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    color: #333;
    font: 12px/ 1.4 arial, FreeSans, Helvetica, sans-serif;
}

th {
    text-align: left;
}

th a {
    text-decoration: none;
}

pre {
    font-family: monospace;
    font-size: 1.2em;
}

p {
    margin-bottom: 1em;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: .9em;
}

img,a img,fieldset {
    border: 0;
}

ul {
    margin: 0 0 1em 2em;
}

ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 2.5em;
}

a {
    cursor: pointer;
    outline: none;
    text-decoration: underline;
}

a:link,a:visited {
    color: #036;
}

a:hover,a:active {
    color: #369;
}

a:hover {
    text-decoration: none;
}

strong,b,.bolded {
    font-weight: bold;
}

hr {
    color: #369;
    height: 1px;
}

select {
    padding: 1px;
}

option {
    padding: 0 .5em;
}

small,.small {
    font-size: .9em;
}

.tinylink {
    text-decoration: none;
}

blockquote {
    border-left: 2px solid #3c78b5;
    font-size: 1em;
    font-family: arial, FreeSans, Helvetica, sans-serif;
    margin-left: 0;
    padding-left: 1em;
}

textarea,.textfield {
    width: 90%;
}

optgroup {
    background-color: #fffff0;
    border-top: 1px solid #ccc;
    padding: 0 2px;
    font-weight: normal;
    font-style: normal;
}

optgroup option {
    background-color: #fff;
}

html,body { *
    height: auto;
}

table,caption {
    font-size: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
}

a:active,a:focus {
    -moz-outline: none;
}

a del,a strike { *
    font-family: "Times New Roman", Georgia, serif;
}

html>body #content { *
    overflow-x: hidden;
}

body>p:-moz-first-node,td>p:-moz-first-node,th>p:-moz-first-node {
    margin-top: 0;
}

td>p:-moz-last-node,th>p:-moz-last-node {
    margin-bottom: 0;
}

/* 
    *******************************  TOP MENU  ******************************* 
*/
#topbar {
    font-size: 8pt;
}

#logo {
    float:left;
}

#logoText {
    float:left;
}

#quicklinks {
    float:right;
}

#user a:link,a:visited,a:hover {
    color:#0068b3;
}

#user {
    float:right;
    padding-right:50px;
}

#user #navbar {
    float:left;
}
#user #content {
    float:right;
}

#menu {
    background-color: #555;
    border-top-color: #777;
    border-top-style: solid;
    border-top-width: 1px;
    clear: both;
    display: block;
    height: 24px;
    margin: 0px;
    min-height: 24px;
    padding: 0px;
    width: 1680px;
}

.menulinks {
    background-color:#555;
    display: block;
	height: 0px;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: visible;
	overflow-y: visible;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	width: 1680px;
}

.menulinks li {
    background-color:#555;
	display: block;
	float: left;
	height: 24px;
	line-height: 18px;
	position: relative;
    text-transform:capitalize;
    font-color:gray;
    list-style:none;
    font-size:10pt;
    color:white;
    padding-left:20px;
    padding-right:20px;
    border-right: thin dotted white;
}

.menulinks li.selected {
    background-color: #F7F7F7;
    color: black;
}

.menulinks li.selected a {
    color: #555;
}

.menulinks li a {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #f7f7f7;
}

.menulinks li.selected a:visited  {
    color: #555;
}

.menulinks li a:link {
    color: #f7f7f7;    
}

.menulinks li a:visited {
    color: #f7f7f7;    
}

.menulinks li a:active {
    color: #f7f7f7;    
}

.menulinks li a:hover {
    color: #555;
}

.menulinks li a:hover {
	background-color: white;
    text-decoration: none;
}
/* 
    *******************************  OVERVIEW  ******************************* 
*/

#overview {
	border-left: thin solid #555;
	border-right: thin solid #555;
	border-bottom: thin solid #555;
	background-color: #FFFFcc;
	margin-bottom: 20px;
	margin-top:0;
	margin-right:auto;
	margin-left:auto;
	width:625px;
	padding:.5em;
}

#overview .label {
	font-weight:bold;
}

#overview .meta {
    padding-left:20px;
    padding-right:20px;
	border-left:thin solid #555;
}

#overview .meta-first {
    padding-left:20px;
    padding-right:20px;
}





/* 
    *******************************  LEFT NAV ******************************* 
*/
#content {
    background-color: #f7f7f7;
    clear: both;
    position: relative;
    width: auto;
    overflow: auto;
    padding: 0em 1em 1em;
}

#content #main-content {
    clear: both;
    margin: 0;
}

#main-content .column {
    display: inline;
    margin: 5px 8px;
    width: 47.75%;
}

ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 5;
}

ul.tabs li {
    border: .083em solid #bbb;
    display: block;
    margin: -.083em -.083em 0 0;
    padding: 0;
}

ul.tabs li:hover {
    cursor: pointer;
}

ul.tabs li a {
    background-color: #f0f0f0;
    color: #535353;
    display: block;
    font-weight: 700;
    text-decoration: none;
}

ul.tabs li a:hover {
    background: #fff none repeat scroll 0 0;
    color: #535353;
}

ul.tabs li em {
    display: none;
}

ul.tabs li strong,ul.tabs li.tab-title {
    display: block;
    overflow: hidden;
    padding: .4em .5em .2em;
    white-space: nowrap;
}

ul.tabs li.tab-title {
    background-color: #fff;
    border: none;
    cursor: default;
    margin: 0;
}

ul.tabs li.active {
    background-color: #fff;
}

ul.tabs li.active strong {
    background-color: transparent;
    color: #000;
    cursor: default;
}

ul.tabs li.active a {
    background: #fff none repeat scroll 0 0;
    color: #000;
}

ul.tabs li.active.loading a {
    background: #fff url("../images/icons/wait.gif") 95% center no-repeat;
}
ul.vertical {
	float: left;
	position: relative;
	margin-right: -.083em;
	width: 11em;
}

ul.vertical li {
	margin: -.083em 0 0;
}

ul.vertical li.tab-title {
	border-right: .083em solid #bbb;
	margin-bottom: .083em;
}

ul.vertical li.first {
	margin-top: 1em;
}

ul.vertical li.active {
	background-color: #fff;
	border-right: none;
	margin-left: -0.5em;
}

.tabwrap ul.vertical {
	left: 0;
}
ul.tabs li { *
	list-style-position: outside;
}

ul.vertical {
	_right: -.25em;
}

ul.vertical li strong,ul.vertical li.tab-title {
	_width: 10em;
}

ul.vertical li.active {
	_margin-left: .083em;
	_left: -.083em;
}

ul.vertical li a {
	_position: relative;
}

.tabwrap,ul.horizontal {
	_zoom: 1;
}

.nl ul.horizontal {
	margin-left: 1em;
}

ul.tabs li.modified {
	background: transparent url("../images/icons/bullet_red.gif") no-repeat
		30% 50%;
	border: none;
	width: 2.5em;
	height: 1.666em;
}

ul.tabs li.modified strong {
	display: none;
}


/* 
    *******************************  CONTENT  ******************************* 
*/
.body {
    background-color: #fff;
    border: 1px solid #bbb;
    position: relative;
    min-height: 600px;
    _height: 600px;
    zoom: 1;
    overflow: hidden;
    _overflow: visible;
    -moz-border-radius: .4em;
    -webkit-border-radius: .4em;
    border-radius: .4em;
    padding: 10px;
}
.body h2 {
    font-size: 1.6em;
    margin: 7px 8px 5px;
}

/* 
    Table List
*/
div.list table {
    border: 1px solid #d2d2d2;
    border-collapse: collapse;
    width: 95%;
    margin-left:auto;
    margin-right:auto;
    padding:0;
    
}

div.list table td {
    border: 1px solid #d2d2d2;
    padding: 2px;
    vertical-align: top;
}

div.list table th.colHeaderSortable {
    padding: 0;
}

div.list table thead tr {
    background-color: #e2e2e2;
}

.body h1 {
	color: #006DBA;
font-size: 16px;
font-weight: normal;
margin: 0.8em 0px 0.3em;
}

div.dialog table {
	width:30%;
	margin-left:10px;
	border: thin solid #bbb;
}

.prop .name,.value{
    border-bottom: thin solid #f0f0f0;
}
.prop .name {
	font-weight:bold;
	text-align:left;
}
	

/* 
    *******************************  CONTENT ACTIONS   ******************************* 
*/
.navaction {
    list-style-type: none;
    margin-top:10px;
}

.navaction .navitem { 
	background-color:#f7f7f7;
	display:inline;
    border: thin dotted #555;
    background-repeat:no-repeat;
    width:100px;
    padding:3px;
    margin-right:20px;
}

.navaction .navitem a { 
	padding-left:20px;
	padding-top:1px;
	padding-bottom:1px;
	background-repeat:no-repeat;
	height:20px;
    text-decoration:none;
}
	
.navcreate { 
    background-image:url('../images/add-icon.png');
}
.navedit { 
    background-image:url('../images/page-edit-icon.png');
}
.navdelete { 
    background-image:url('../images/delete-icon.png');
}
.navupdate { 
    background-image:url('../images/process-icon.png');
}

/* 
    *******************************  DASHBOARD  ******************************* 
*/

#primary {
	float:left;
}

#secondary {
	float:left;
}

.panel {
	margin: 0px 0px 20px;
	padding: 0px;
	position: relative;
}

.column {
	display: inline;
	margin: 5px 8px;
	width: 47.75%;
}


.panel h3 {
	background-color: #F0F0F0;
	border-top: 1px solid #BBB;
	color: #036;
	font-size: 1.3em;
	margin: 0px 0px 0.5em;
	padding: 2px 3px 2px 6px;
	font-weight:bold;
}

.panel-row {
	padding: 4px 6px;
    vertical-align: middle;
}

.stat {
	float:right;
	padding: 0px 0.5em;
}

.alt {
	background-color: #F2F2F2;
}



.metrics {
    padding: 10px;  
}

.metrics td {
    padding: 2px;
}
.metrics th {
    padding: 2px;
}

.metricsBar {
    width:300px;
    
}
.metricsBar td {
    height: 10px;
    padding:0px;
}

.metric-OK { 
	background-color:green;
}
.metric-ER {
	background-color:red;
}
.metric-SE {
	background-color:yellow;
}
.metric-NE {
    background-color:silver;
}
.metric-IG {
    background-color:gray;
}
.metric-empty {
	background-color:white;
}

.status-box {
	border: thin solid gray;
	width:7px;
	height:7px;
	float:left;
	margin:4px 10px 4px 2px;
}

/* 
    *******************************  MESSAGES & ERRORS  ******************************* 
*/
.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px auto 5px auto;
    padding: 5px 5px 5px 30px;
    
    width: 90%;
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}

div.errors ul {
    list-style: none;
    padding: 0;
}

div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}

td.errors input {
    border: 1px solid red;
}

/* PAGINATION */

.paginateButtons {
    /*background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;*/
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}

.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}

.paginateButtons span {
    padding: 2px 3px;
}

/* 
    *******************************  TRIGGER HISTORY  ******************************* 
*/
.trigger-history-container {
	border : thin dashed #555;
	padding : 2px;
	margin : 2px;

}
.trigger-history-element {
}

.trigger-history-label {
	float:left;
	font-weight: bold;
	width:30%;
}
.trigger-history-value {
	float:left;
	width:70%;
	white-space: normal;
}

