## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.

<section id="table_$table.Name">
    <title>$table.Name.toUpperCase()</title>
    <para>$table.Description</para>
	<table id="table-def-$table.Name">
    	<title>$table.Name.toUpperCase()</title>
    	<tgroup cols="6">
        	<colspec colwidth="115px" />
        	<colspec colwidth="50px" />
        	<colspec colwidth="30px" />
       		<colspec colwidth="18px" />
       		<colspec colwidth="18px" />
       		<colspec colwidth="150px" />
         <thead>
            <row>
                <entry>Name</entry>
                <entry>Type / Size</entry>
	            <entry>Default</entry>
	            <entry>PK FK</entry>
	            <entry>not null</entry>
	            <entry>Description</entry>
            </row>
        </thead>
        <tbody>
         #foreach ($col in $table.Columns)  
            <row>
                <entry>
                 	#if ($col.isForeignKey() == true)
					 	<link linkend="table-def-$col.RelatedTableName">$col.Name</link>
					#else$col.Name.toUpperCase()#end
                </entry>
                <entry>$col.Type #if ($col.printSize() && $col.printSize().length() > 0) $col.printSize()#end</entry>
                
				<entry>#if ($col.DefaultValue) $col.DefaultValue#end</entry>
				<entry>#if ($col.isPrimaryKey()==true)PK#end
				#if ($col.isForeignKey()==true)FK#end</entry>
				<entry>#if ($col.isNotNull()==true)X#end</entry>
				<entry>#if ($col.Description) $col.Description#end</entry>
		    </row>
		 #end
		</tbody>
		</tgroup>
	</table>
</section>
