<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to JumpMind Inc under one or more contributor
    license agreements.  See the NOTICE file distributed
    with this work for additional information regarding
    copyright ownership.  JumpMind Inc licenses this file
    to you under the GNU General Public License, version 3.0 (GPLv3)
    (the "License"); you may not use this file except in compliance
    with the License.

    You should have received a copy of the GNU General Public License,
    version 3.0 (GPLv3) along with this library; if not, see
    <http://www.gnu.org/licenses/>.

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <display-name>SymmetricDS</display-name>
    
    <context-param>
        <param-name>autoStart</param-name>
        <param-value>true</param-value>
    </context-param>    

    <!-- To turn on multi server mode in a war deployment uncomment this.  The engines directory
         is controlled by -Dsymmetric.engines.dir=/path/to/dir.  The default value is ../engines
    <context-param>
        <param-name>multiServerMode</param-name>
        <param-value>true</param-value>
    </context-param>
     -->

     <!-- To specify the name of the properties file to use in a war deployment uncomment this.
    <context-param>
        <param-name>singleServerPropertiesFile</param-name>
        <param-value>path/to/file.properties</param-value>
    </context-param>
     -->
     
     <!-- In order to use extension points defined in an existing spring context turn this setting on
    <context-param>
       <param-name>useWebApplicationContext</param-name>
       <param-value>true</param-value>
   </context-param>
   -->     
     
    <context-param>
        <param-name>deploymentType</param-name>
        <param-value>server</param-value>
    </context-param>
    
    <context-param>
      <param-name>contextClass</param-name>
      <param-value>
         org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
   </context-param>
   
   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>org.jumpmind.symmetric.web.rest</param-value>
   </context-param>
   
    <listener>
        <listener-class>org.jumpmind.symmetric.web.SymmetricContextListener</listener-class>        
    </listener>

   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>    
      
    <servlet>
        <servlet-name>SymmetricServlet</servlet-name>
        <servlet-class>org.jumpmind.symmetric.web.SymmetricServlet</servlet-class>
        <load-on-startup>1</load-on-startup>        
    </servlet>
    
   <servlet>
      <servlet-name>rest</servlet-name>
      <servlet-class>
         org.springframework.web.servlet.DispatcherServlet
      </servlet-class>
      <init-param>
         <param-name>contextClass</param-name>
         <param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
         </param-value>
      </init-param>
      <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>org.jumpmind.symmetric.web.rest</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
   </servlet>

    <servlet-mapping>
        <servlet-name>SymmetricServlet</servlet-name>
        <url-pattern>/sync/*</url-pattern>        
    </servlet-mapping>
    
   <servlet-mapping>
      <servlet-name>rest</servlet-name>
      <url-pattern>/api/*</url-pattern>
   </servlet-mapping>    
    

</web-app>