## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
<subsection name="$table.Name">
  <p>
    $!table.Description
  </p>

  <table>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Size</th>
      <th>Default</th>
      <th>JavaName</th>
      <th>PK</th>
      <th>FK</th>
      <th>not null</th>
      <th>Description</th>
    </tr>
  #foreach ($col in $table.Columns)
    <tr>
      <td>$col.Name</td>
      <td>$col.Type</td>
      <td>$col.printSize()</td>
    #if ($col.DefaultValue && !$col.DefaultValue.equalsIgnoreCase("NULL") )
      <td>$escape.getText($col.DefaultValue)</td>
    #else
      <td></td>
    #end
      <td>$col.JavaName</td>
      <td>#if ($col.isPrimaryKey()==true)X#end</td>
      <td>#if ($col.isForeignKey()==true)X#end</td>
      <td>#if ($col.isNotNull()==true)X#end</td>
      <td>$!col.Description</td>
    </tr>
  #end
  </table>

</subsection>
